.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 70%;
    bottom: 5%;
    height: 70%;

    .wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    img:nth-child(1) {
        width: 150px;
        height: 150px;
    }

    img:nth-child(3) {
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }

    img {
        width: 350px;
    }

    .timer-btn {
        width: 300px;
        margin-top: 20px;
        font-size: 20px;
    }

}