.header {
    height: 100px;
    display: flex;

    .glitch {
        margin: 50px auto;
        text-transform: uppercase;
        text-align: center;
        font-size: 50px;
        text-align: center;
        line-height: 1;
        color: #c6e2ff;
        letter-spacing: 5px;
        animation: neon 1s ease-in-out infinite alternate;

    }

    @keyframes neon {
        from {
            text-shadow:
                0 0 6px rgba(202, 228, 225, 0.92),
                0 0 10px rgba(202, 228, 225, 0.34),
                0 0 6px rgba(30, 132, 242, 0.52),
                0 0 7px rgba(30, 132, 242, 0.92),
                0 0 14px rgba(30, 132, 242, 0.78),
                0 0 24px rgba(30, 132, 242, 0.92);
        }

        to {
            text-shadow:
                0 0 6px rgba(202, 228, 225, 0.98),
                0 0 10px rgba(202, 228, 225, 0.42),
                0 0 6px rgba(30, 132, 242, 0.58),
                0 0 12px rgba(30, 132, 242, 0.84),
                0 0 12px rgba(30, 132, 242, 0.88),
                0 0 10px rgba(30, 132, 242, 1);
        }
    }

}